In [21]:
import pandas as pd
import numpy as np

In [5]:
names = pd.Series(data=['manasi','malati','maya','mohini','manjiri','manasi','malati','maya','mohini','manjiri','manasi','malati','maya','mohini','manjiri'])

In [7]:
names

0      manasi
1      malati
2        maya
3      mohini
4     manjiri
5      manasi
6      malati
7        maya
8      mohini
9     manjiri
10     manasi
11     malati
12       maya
13     mohini
14    manjiri
dtype: object

In [8]:
names.unique()

array(['manasi', 'malati', 'maya', 'mohini', 'manjiri'], dtype=object)

## count the total unique records present

In [9]:
names.nunique()

5

In [10]:
names.value_counts()

manasi     3
malati     3
maya       3
mohini     3
manjiri    3
dtype: int64

In [12]:
s1 = pd.Series([1,2,3,1])
s1

0    1
1    2
2    3
3    1
dtype: int64

In [14]:
s2 = pd.Series([4,5,6])
s2

0    4
1    5
2    6
dtype: int64

In [15]:
s1 + s2   # elementwise addition
          # NaN stands for not a number
          # wherever the data is missing we will get NaN

0    5.0
1    7.0
2    9.0
3    NaN
dtype: float64

# append the  2 series

In [16]:
s1,s2

(0    1
 1    2
 2    3
 3    1
 dtype: int64,
 0    4
 1    5
 2    6
 dtype: int64)

In [17]:
# at the end : concatenate two or more series
s1.append(s2)

0    1
1    2
2    3
3    1
0    4
1    5
2    6
dtype: int64

In [ ]:
# here indexes are repeated to ignore this complexity use ignore_index

In [18]:
s1.append(s2,ignore_index=True)

0    1
1    2
2    3
3    1
4    4
5    5
6    6
dtype: int64

In [19]:
# we can append multiple series
s1.append((s1,s2))

0    1
1    2
2    3
3    1
0    1
1    2
2    3
3    1
0    4
1    5
2    6
dtype: int64

In [23]:
s1.append((s1,s2),ignore_index=True)

0     1
1     2
2     3
3     1
4     1
5     2
6     3
7     1
8     4
9     5
10    6
dtype: int64

pop(): Return item and drop from series.Raise key error if not found.

In [24]:
s1.pop(0)  # item means index

1

In [25]:
s1

1    2
2    3
3    1
dtype: int64

In [26]:
# again if we try to pop() element at 0 index # Raise key error
s1.pop(0)

KeyError: 0

In [27]:
s = pd.Series([12,100,34,56,1,199,450,15,150,700,30,31,22,20,45])
s

0      12
1     100
2      34
3      56
4       1
5     199
6     450
7      15
8     150
9     700
10     30
11     31
12     22
13     20
14     45
dtype: int64

# find out largest element

In [28]:
# Return largest n elements.=5 by default
s.nlargest()   # based on the data
# data we get in descending order [from high to low]

9    700
6    450
5    199
8    150
1    100
dtype: int64

In [29]:
s.nlargest(3)

9    700
6    450
5    199
dtype: int64

In [30]:
# check this
a = pd.Series([13,44,78,90,12,44,79,95])
a

0    13
1    44
2    78
3    90
4    12
5    44
6    79
7    95
dtype: int64

In [31]:
a.nlargest(3)

7    95
3    90
6    79
dtype: int64

# smallest [lower to high data]

In [32]:
a

0    13
1    44
2    78
3    90
4    12
5    44
6    79
7    95
dtype: int64

In [33]:
a.nsmallest()

4    12
0    13
1    44
5    44
2    78
dtype: int64

In [34]:
a.nsmallest(3)

4    12
0    13
1    44
dtype: int64

In [35]:
f = pd.Series([2,5,5,1,5,2,5])
f

0    2
1    5
2    5
3    1
4    5
5    2
6    5
dtype: int64

In [36]:
f.nlargest()   # top down approach

1    5
2    5
4    5
6    5
0    2
dtype: int64

In [37]:
f.nlargest(keep='last')  # bottom up approach

6    5
4    5
2    5
1    5
5    2
dtype: int64

## convert series to a different data type

In [38]:
s

0      12
1     100
2      34
3      56
4       1
5     199
6     450
7      15
8     150
9     700
10     30
11     31
12     22
13     20
14     45
dtype: int64

In [40]:
s.dtype

dtype('int64')

In [41]:
# cast a pandas object to a specified data type
s.astype('int32')

0      12
1     100
2      34
3      56
4       1
5     199
6     450
7      15
8     150
9     700
10     30
11     31
12     22
13     20
14     45
dtype: int32

In [42]:
h = pd.Series(['HR','Tester','HR','Developer'])
h

0           HR
1       Tester
2           HR
3    Developer
dtype: object

In [44]:
h.__sizeof__()

375

In [47]:
c = h.astype('category')   # categarical type is better for memory optimization.
c

0           HR
1       Tester
2           HR
3    Developer
dtype: category
Categories (3, object): ['Developer', 'HR', 'Tester']

In [48]:
c.__sizeof__()

428

In [50]:
pd.DataFrame(c).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      category
dtypes: category(1)
memory usage: 264.0 bytes

# where

In [51]:
s

0      12
1     100
2      34
3      56
4       1
5     199
6     450
7      15
8     150
9     700
10     30
11     31
12     22
13     20
14     45
dtype: int64

In [52]:
# Replace the values where condition is false
s.where(s>100)

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5     199.0
6     450.0
7       NaN
8     150.0
9     700.0
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
dtype: float64

In [4]:
import pandas as pd
import numpy as np

In [8]:
s = pd.Series([12,100,34,56,1,199,450,15,150,700,30,31,22,20,45])
s

0      12
1     100
2      34
3      56
4       1
5     199
6     450
7      15
8     150
9     700
10     30
11     31
12     22
13     20
14     45
dtype: int64

In [9]:
s.where(s>100,other=0)

0       0
1       0
2       0
3       0
4       0
5     199
6     450
7       0
8     150
9     700
10      0
11      0
12      0
13      0
14      0
dtype: int64

In [10]:
s.where(s<5,other='False')

0     False
1     False
2     False
3     False
4         1
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
dtype: object

In [16]:
s.where(s>90,other=0,inplace=True) # if we want to make permanent change in original s series we use 
s                                   # inplace

0       0
1     100
2       0
3       0
4       0
5     199
6     450
7       0
8     150
9     700
10      0
11      0
12      0
13      0
14      0
dtype: int64

# Dealing with missing values

In [17]:
import numpy as np
z = pd.Series([np.nan,10,np.nan,20,np.nan])
z

0     NaN
1    10.0
2     NaN
3    20.0
4     NaN
dtype: float64

In [18]:
z.isna()  # boolean series will be output

0     True
1    False
2     True
3    False
4     True
dtype: bool

In [19]:
z[z.isna()]

0   NaN
2   NaN
4   NaN
dtype: float64

In [20]:
True+False+True+False+True # adding true false values
                           # True=1 and False=0 that gives o/p 3.

3

# calculate total na present in series

In [21]:
z

0     NaN
1    10.0
2     NaN
3    20.0
4     NaN
dtype: float64

In [24]:
sum([True,False,True])

2

In [23]:
z.isna().sum()  # like above it will give total sum having nan values

3

In [25]:
z.isnull().sum()   # null detects misssing values

3

# fill na

In [26]:
z

0     NaN
1    10.0
2     NaN
3    20.0
4     NaN
dtype: float64

In [27]:
# fill NA/NaN values using specified method
z.fillna(0)

0     0.0
1    10.0
2     0.0
3    20.0
4     0.0
dtype: float64

In [28]:
z.fillna('missing')

0    missing
1       10.0
2    missing
3       20.0
4    missing
dtype: object

# fill nan values using mean

In [29]:
z.mean()

15.0

In [32]:
z.fillna(z.mean())

0    15.0
1    10.0
2    15.0
3    20.0
4    15.0
dtype: float64

# Cental measures of tendency

In [ ]:
Mean
Median
Mode

In [38]:
s = pd.Series([12,100,34,56,1,199,450,15,150,700,30,31,22,20,45])
s

0      12
1     100
2      34
3      56
4       1
5     199
6     450
7      15
8     150
9     700
10     30
11     31
12     22
13     20
14     45
dtype: int64

In [39]:
s.mean()  # average

124.33333333333333

In [41]:
s.median()  # as it is sequence ka median he ye i.e. middle two values we get n we take their mean
             #   i.e. median

34.0

In [44]:
# to get median first get the values in order and then take middle value to cal. median
s.sort_values().median()

34.0

In [45]:
s.mode()  # most frequent values occures.

0       1
1      12
2      15
3      20
4      22
5      30
6      31
7      34
8      45
9      56
10    100
11    150
12    199
13    450
14    700
dtype: int64

In [46]:
p = pd.Series([22,10,55,10,20,11,10])
p

0    22
1    10
2    55
3    10
4    20
5    11
6    10
dtype: int64

In [47]:
p.mode() # the values occures more/frequent

0    10
dtype: int64

In [49]:
# if two numbers occuring more
m = pd.Series([22,55,20,22,89,55,67])
m

0    22
1    55
2    20
3    22
4    89
5    55
6    67
dtype: int64

In [50]:
m.mode() # two values occures frequently so mode having two values.

0    22
1    55
dtype: int64

## forward filling

In [51]:
z

0     NaN
1    10.0
2     NaN
3    20.0
4     NaN
dtype: float64

In [52]:
z.ffill()  # top to bottom approach i.e. before vala approach nan takes valu from previous/ top posin.

0     NaN
1    10.0
2    10.0
3    20.0
4    20.0
dtype: float64

## backward filling

In [53]:
z

0     NaN
1    10.0
2     NaN
3    20.0
4     NaN
dtype: float64

In [54]:
z.bfill() # botton to top ,last nan doesnt change bcoz no have previous value

0    10.0
1    10.0
2    20.0
3    20.0
4     NaN
dtype: float64

## ffill and bfill using fillna method

In [55]:
z

0     NaN
1    10.0
2     NaN
3    20.0
4     NaN
dtype: float64

In [56]:
z.fillna(method='bfill')

0    10.0
1    10.0
2    20.0
3    20.0
4     NaN
dtype: float64

In [57]:
z.fillna(method='ffill')

0     NaN
1    10.0
2    10.0
3    20.0
4    20.0
dtype: float64

## rather than dealing with NaN simplest way to remove them

In [58]:
z

0     NaN
1    10.0
2     NaN
3    20.0
4     NaN
dtype: float64

In [59]:
# return a new series with missing values removed
z.dropna()

1    10.0
3    20.0
dtype: float64

In [60]:
z     # z is unchanged

0     NaN
1    10.0
2     NaN
3    20.0
4     NaN
dtype: float64

In [62]:
# so do the change in same object directly
z.dropna(inplace=True)
z

1    10.0
3    20.0
dtype: float64